/*** PATH (elementi svg) ***********/

path {
    fill: aquamarine;
    fill-opacity: 0;
}

/*è un trucchetto, vorrei usare js  ______________________________________ */
#slider-container path:hover {
    fill: aquamarine;
    fill-opacity: .4;
    stroke-opacity: 1;
    stroke-width: 4;
    stroke: rgb(8, 192, 137);
}
/*______________________________________ */

/*** SVG ******************************/

.svg-container {
    pointer-events: all;
    position: absolute;
    transform: scale(128%) translateY(112px) translateX(178px);
    top: 0;
    left: 0;
    transition: opacity 1s;
}

.my-opacity{
opacity: 0%;
}

/* applico un livello solo alle slide che voglio pilotare con i dot */
#slider-container .svg-container.PT::before {
    content: url(/BONUS/img/f1/floorplan\ 1.png);
    background-color: rgba(255, 255, 255, 0.329);
    width:300%;
    pointer-events: none;
    }

    #slider-container .svg-container.P1::before {
    content: url(/BONUS/img/f2/floorplan\ 2.png);
    background-color: rgba(255, 255, 255, 0.329);
    width:300%;
    pointer-events: none;
}
#thumbnails-container .svg-container{
    display: none;
}

.svg-container::before {
    position: absolute;
    transform: translateX(-266px) translateY(-86px);
    pointer-events: none;
    z-index: -1;
}

