* {}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    position: relative;
    transform: translateY(20%);
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

h4 {
    font-weight: bold;


}

/*** CLASS UTILITIES ************************/
/* bottoni */

.my-btn {
    width: fit-content;
    display: block;
    background-color: rgb(255, 1, 1);
    color: white;
    font-size: 1.4rem;
    z-index: 4000;
    border: none;
}
.my-btn:hover {
    background-color: rgb(250, 151, 151);
    color: rgb(255, 0, 0);
    font-weight: bold;
}


/* thumbnails (img contiente anche il label, sarebbe più corretto thumbnail-card */

.col-2 .my-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.col-10 .my-btn{
    border-radius: 20px;
    padding: 10px 20px;
}

.slider-btn-container {
    padding:50px

}

.thumbnail-card {
    height: 20%;
    position: relative;
}

.thumbnail-card.active {
    border: 6px solid red;
}

.thumbnail-label {
    text-align: right;
    position: absolute;
    z-index: 100;
    bottom: 0px;
    right: 0;
    color: red;
    text-transform: capitalize;
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
}

.thumbnail-card.active .thumbnail-label{
display: none;
}

.thumbnail-card img {
    filter: brightness(0.4);
}

.thumbnail-card.active img {
    filter: brightness(1);
}

.thumbnail-card:hover img {
    filter: brightness(1);
}



/********* CONTAINERS ********************/